
<!-- {{pastrie | json}} //convertit en json les données pour débugguer -->

<div class="card" *ngIf="pastrie" style="width: 18rem;">
    <img src="{{pastrie?.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pastrie?.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <button appHideButton="invisible">Cacher ingrédients <ul class="list-group list-group-flush" *ngIf="ingredients" > 
      <li class ="list-group-item"> Liste des ingrédients  <button (click) = 'sortIngredient($event)'>{{sortRef}}</button></li>       
      <li class ="list-group-item " *ngFor="let ingredient of ingredients">
  <div class="row justify-content-around">
      <p class="col-4">{{ingredient}}</p>
      <button value="{{ingredient}}" (click) = "deleteIngedient(ingredient)" class="col-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
        </svg></button>
  </div>  
      </li>
  </ul></button>

    
<label for="label{{pastrie.id}}">Ajouter un ingrédients</label>
<input
    name="label{{pastrie.id}}"

    (keyup.enter)="AddIngredient($event)"
  />


<!-- <input name="label{{pastrie.id}}"type="text" #saisieClavier (keyup) = "0"> on écoute l'évènement et l'event est stocké automatiquement dans saisieClavier-->
 <!-- évènement géré avec parenthèse nom évènement <p>{{saisieClavier.value}}</p> On exploite le résultat saisie --> 

</div>



