<div class="card mb-2" appBorderCard = 'red'>
    <div class="card-header">Pâtisserie</div>
    <div class="card-body">
        <h5 class="card-title">{{pastrie.name}}</h5>
        <p class="card-text">{{pastrie.description}}</p>
        <ul class="p-0" *ngIf="pastrie.tags">
            <li class="list-inline-item justify-content-start" *ngFor="let tag of pastrie.tags">
                <span class=" {{tag | pastrieTagColor}}  badge text-white text-bg-info">{{tag}}</span> <!--{{tag | pastrieTagColor}}-->
            </li>
        </ul>
    
        <span class="border border-dark px-1 rounded-1">fr</span>
        <span class="m-2" *ngIf="pastrie.like"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg> {{pastrie.like}} </span> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fast-forward-fill" viewBox="0 0 16 16">
            <path d="M7.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692Z"/>
            <path d="M15.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C8.713 12.69 8 12.345 8 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692Z"/>
        </svg> {{pastrie.quantity}} unités disponibles</span>   
    </div>
</div>
