<div class="card" style="width: 50%; margin:2rem auto">
    <!-- <h1 class=" card-header">
        Connection
    </h1> -->
    <div class="card-body">
        <h1 class="card-title">Ajouter une pâtisserie</h1>
  
  </div>
        <form [formGroup]="pastrieForm">
            <div class="mb-3">
                <label for="ref" class="form-label">ref</label>
                <input name="ref" formControlName="ref"  type="text" class="form-control" id="ref">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input name="name" formControlName="name"    type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <input name="description" formControlName="description" type="text" class="form-control" id="description">
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">quantity</label>
                <input name="quantity" formControlName="quantity" type="text" class="form-control" id="quantity">
            </div>
            <div class="mb-3">
                <label for="order" class="form-label">order</label>
                <input name="order"  formControlName="order" type="text" class="form-control" id="order">
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">url</label>
                <input name="url"  formControlName="url" type="text" class="form-control" id="url">
            </div>
            <button type="submit" (click)="onSubmitForm()" [disabled]="pastrieForm.invalid" >SUBMIT</button>
        </form>
    </div>
  <div *ngIf="formPreview$ | async as pastrie" class="col-md-4"> //async permet de se brancher sur les données de l'observ&ble on crée un alias des données exposées
      <h1>{{pastrie.name}}</h1>
      <p>{{pastrie.description}}</p>
      <p>{{pastrie.quantity}}</p>
      <p>{{pastrie.order}}</p>
      <p>{{pastrie.ref}}</p>

    </div>